openapi: 3.0.1
info:
  title: OpenAI-Import
  description: Azure OpenAI APIs for completions and search
  version: '1.0'
servers:
  - url: https://apim-7c3dvrbie5sui.azure-api.net/openai-import/openai
paths:
  '/deployments/{deployment-id}/completions':
    post:
      summary: 'Creates a completion for the provided prompt, parameters and chosen model.'
      description: 'Creates a completion for the provided prompt, parameters and chosen model.'
      operationId: Completions_Create
      parameters:
        - name: deployment-id
          in: path
          required: true
          schema:
            type: string
            description: Deployment id of the model which was deployed.
            example: davinci
        - name: api-version
          in: query
          required: true
          schema:
            type: string
            description: api version
            example: 2025-04-01-preview
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createCompletionRequest'
            example:
              prompt: "Negate the following sentence.The price for bubblegum increased on thursday.\n\n Negated Sentence:"
              max_tokens: 50
      responses:
        '200':
          description: OK
          headers:
            apim-request-id:
              description: Request ID for troubleshooting purposes
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createCompletionResponse'
              example:
                model: davinci
                object: text_completion
                id: cmpl-4509KAos68kxOqpE2uYGw81j6m7uo
                created: 1637097562
                choices:
                  - index: 0
                    text: The price for bubblegum decreased on thursday.
                    logprobs: 
                    finish_reason: stop
        '400':
          description: Service unavailable
          headers:
            apim-request-id:
              description: Request ID for troubleshooting purposes
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                error:
                  param: string
                  type: string
                  inner_error:
                    code: ResponsibleAIPolicyViolation
                    content_filter_results:
                      sexual:
                        filtered: true
                        severity: safe
                      violence:
                        filtered: true
                        severity: safe
                      hate:
                        filtered: true
                        severity: safe
                      self_harm:
                        filtered: true
                        severity: safe
                      profanity:
                        filtered: true
                        detected: true
                      custom_blocklists:
                        filtered: true
                        details:
                          - filtered: true
                            id: string
                      error:
                        code: string
                        message: string
                      jailbreak:
                        filtered: true
                        detected: true
                      indirect_attack:
                        filtered: true
                        detected: true
                  code: string
                  message: string
        '500':
          description: Service unavailable
          headers:
            apim-request-id:
              description: Request ID for troubleshooting purposes
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                error:
                  param: string
                  type: string
                  inner_error:
                    code: ResponsibleAIPolicyViolation
                    content_filter_results:
                      sexual:
                        filtered: true
                        severity: safe
                      violence:
                        filtered: true
                        severity: safe
                      hate:
                        filtered: true
                        severity: safe
                      self_harm:
                        filtered: true
                        severity: safe
                      profanity:
                        filtered: true
                        detected: true
                      custom_blocklists:
                        filtered: true
                        details:
                          - filtered: true
                            id: string
                      error:
                        code: string
                        message: string
                      jailbreak:
                        filtered: true
                        detected: true
                      indirect_attack:
                        filtered: true
                        detected: true
                  code: string
                  message: string
  '/deployments/{deployment-id}/embeddings':
    post:
      summary: Get a vector representation of a given input that can be easily consumed by machine learning models and algorithms.
      description: Get a vector representation of a given input that can be easily consumed by machine learning models and algorithms.
      operationId: embeddings_create
      parameters:
        - name: deployment-id
          in: path
          description: The deployment id of the model which was deployed.
          required: true
          schema:
            type: string
            example: ada-search-index-v1
        - name: api-version
          in: query
          required: true
          schema:
            type: string
            description: api version
            example: 2025-04-01-preview
      requestBody:
        content:
          application/json:
            schema:
              required:
                - input
              type: object
              properties:
                input:
                  oneOf:
                    - type: string
                      default: ''
                      nullable: true
                      example: This is a test.
                    - maxItems: 2048
                      minItems: 1
                      type: array
                      items:
                        minLength: 1
                        type: string
                        example: This is a test.
                  description: 'Input text to embed, encoded as a string or array of tokens. To embed multiple inputs in a single request, pass an array of strings or array of token arrays. The input must not exceed the max input tokens for the model (8192 tokens for `text-embedding-ada-002`), cannot be an empty string, and any array must be 2048 dimensions or less.'
                user:
                  type: string
                  description: 'A unique identifier representing your end-user, which can help monitoring and detecting abuse.'
                input_type:
                  type: string
                  description: input type of embedding search to use
                  example: query
                encoding_format:
                  type: string
                  description: The format to return the embeddings in. Can be either `float` or `base64`. Defaults to `float`.
                  nullable: true
                  example: float
                dimensions:
                  type: integer
                  description: The number of dimensions the resulting output embeddings should have. Only supported in `text-embedding-3` and later models.
                  nullable: true
                  example: 1
            example:
              input: { }
              user: string
              input_type: query
              encoding_format: float
              dimensions: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                required:
                  - object
                  - model
                  - data
                  - usage
                type: object
                properties:
                  object:
                    type: string
                  model:
                    type: string
                  data:
                    type: array
                    items:
                      required:
                        - index
                        - object
                        - embedding
                      type: object
                      properties:
                        index:
                          type: integer
                        object:
                          type: string
                        embedding:
                          type: array
                          items:
                            type: number
                  usage:
                    required:
                      - prompt_tokens
                      - total_tokens
                    type: object
                    properties:
                      prompt_tokens:
                        type: integer
                      total_tokens:
                        type: integer
              example:
                object: string
                model: string
                data:
                  - index: 0
                    object: string
                    embedding:
                      - 0
                usage:
                  prompt_tokens: 0
                  total_tokens: 0
  '/deployments/{deployment-id}/chat/completions':
    post:
      summary: Creates a completion for the chat message
      description: Creates a completion for the chat message
      operationId: ChatCompletions_Create
      parameters:
        - name: deployment-id
          in: path
          required: true
          schema:
            type: string
            description: Deployment id of the model which was deployed.
        - name: api-version
          in: query
          required: true
          schema:
            type: string
            description: api version
            example: 2025-04-01-preview
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createChatCompletionRequest'
            example:
              temperature: 1
              top_p: 1
              stream: false
              stop: 
              max_tokens: 0
              max_completion_tokens: 0
              presence_penalty: 0
              frequency_penalty: 0
              logit_bias: 
              store: true
              metadata: { }
              user: user-1234
              messages:
                - content: { }
                  role: developer
                  name: string
              data_sources:
                - type: azure_search
              reasoning_effort: medium
              logprobs: false
              top_logprobs: 0
              n: 1
              modalities:
                - text
              prediction:
                type: content
                content: { }
              audio:
                voice: alloy
                format: wav
              parallel_tool_calls: true
              response_format:
                type: text
              seed: 0
              stream_options: 
              tools:
                - type: function
                  function:
                    description: string
                    name: string
                    parameters: { }
                    strict: false
              tool_choice: { }
              function_call: { }
              functions:
                - description: string
                  name: string
                  parameters: { }
              user_security_context:
                application_name: string
                end_user_id: string
                end_user_tenant_id: string
                source_ip: string
      responses:
        '200':
          description: OK
          headers:
            apim-request-id:
              description: Request ID for troubleshooting purposes
              schema:
                type: string
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/createChatCompletionResponse'
                  - $ref: '#/components/schemas/createChatCompletionStreamResponse'
              example:
                id: string
                prompt_filter_results:
                  - prompt_index: 0
                    content_filter_results:
                      sexual:
                        filtered: true
                        severity: safe
                      violence:
                        filtered: true
                        severity: safe
                      hate:
                        filtered: true
                        severity: safe
                      self_harm:
                        filtered: true
                        severity: safe
                      profanity:
                        filtered: true
                        detected: true
                      custom_blocklists:
                        filtered: true
                        details:
                          - filtered: true
                            id: string
                      error:
                        code: string
                        message: string
                      jailbreak:
                        filtered: true
                        detected: true
                      indirect_attack:
                        filtered: true
                        detected: true
                choices:
                  - finish_reason: stop
                    index: 0
                    message:
                      role: assistant
                      refusal: string
                      content: string
                      tool_calls:
                        - id: string
                          type: function
                          function:
                            name: string
                            arguments: string
                      function_call:
                        name: string
                        arguments: string
                      audio:
                        id: string
                        expires_at: 0
                        data: string
                        transcript: string
                      context:
                        citations:
                          - content: string
                            title: string
                            url: string
                            filepath: string
                            chunk_id: string
                            rerank_score: 0
                        intent: string
                        all_retrieved_documents:
                          - content: string
                            title: string
                            url: string
                            filepath: string
                            chunk_id: string
                            rerank_score: 0
                            search_queries:
                              - string
                            data_source_index: 0
                            original_search_score: 0
                            filter_reason: score
                    content_filter_results:
                      sexual:
                        filtered: true
                        severity: safe
                      violence:
                        filtered: true
                        severity: safe
                      hate:
                        filtered: true
                        severity: safe
                      self_harm:
                        filtered: true
                        severity: safe
                      profanity:
                        filtered: true
                        detected: true
                      custom_blocklists:
                        filtered: true
                        details:
                          - filtered: true
                            id: string
                      error:
                        code: string
                        message: string
                      protected_material_text:
                        filtered: true
                        detected: true
                      protected_material_code:
                        filtered: true
                        detected: true
                        citation:
                          URL: string
                          license: string
                      ungrounded_material:
                        filtered: true
                        detected: true
                        details:
                          - completion_start_offset: 0
                            completion_end_offset: 0
                    logprobs:
                      content:
                        - token: string
                          logprob: 0
                          bytes:
                            - 0
                          top_logprobs:
                            - token: string
                              logprob: 0
                              bytes:
                                - 0
                      refusal:
                        - token: string
                          logprob: 0
                          bytes:
                            - 0
                          top_logprobs:
                            - token: string
                              logprob: 0
                              bytes:
                                - 0
                created: 0
                model: string
                system_fingerprint: string
                object: chat.completion
                usage:
                  prompt_tokens: 0
                  completion_tokens: 0
                  total_tokens: 0
                  prompt_tokens_details:
                    audio_tokens: 0
                    cached_tokens: 0
                  completion_tokens_details:
                    accepted_prediction_tokens: 0
                    audio_tokens: 0
                    reasoning_tokens: 0
                    rejected_prediction_tokens: 0
        '400':
          description: Service unavailable
          headers:
            apim-request-id:
              description: Request ID for troubleshooting purposes
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                error:
                  param: string
                  type: string
                  inner_error:
                    code: ResponsibleAIPolicyViolation
                    content_filter_results:
                      sexual:
                        filtered: true
                        severity: safe
                      violence:
                        filtered: true
                        severity: safe
                      hate:
                        filtered: true
                        severity: safe
                      self_harm:
                        filtered: true
                        severity: safe
                      profanity:
                        filtered: true
                        detected: true
                      custom_blocklists:
                        filtered: true
                        details:
                          - filtered: true
                            id: string
                      error:
                        code: string
                        message: string
                      jailbreak:
                        filtered: true
                        detected: true
                      indirect_attack:
                        filtered: true
                        detected: true
                  code: string
                  message: string
        '500':
          description: Service unavailable
          headers:
            apim-request-id:
              description: Request ID for troubleshooting purposes
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
              example:
                error:
                  param: string
                  type: string
                  inner_error:
                    code: ResponsibleAIPolicyViolation
                    content_filter_results:
                      sexual:
                        filtered: true
                        severity: safe
                      violence:
                        filtered: true
                        severity: safe
                      hate:
                        filtered: true
                        severity: safe
                      self_harm:
                        filtered: true
                        severity: safe
                      profanity:
                        filtered: true
                        detected: true
                      custom_blocklists:
                        filtered: true
                        details:
                          - filtered: true
                            id: string
                      error:
                        code: string
                        message: string
                      jailbreak:
                        filtered: true
                        detected: true
                      indirect_attack:
                        filtered: true
                        detected: true
                  code: string
                  message: string
  '/deployments/{deployment-id}/audio/transcriptions':
    post:
      summary: Transcribes audio into the input language.
      description: Transcribes audio into the input language.
      operationId: Transcriptions_Create
      parameters:
        - name: deployment-id
          in: path
          required: true
          schema:
            type: string
            description: Deployment id of the whisper model.
            example: whisper
        - name: api-version
          in: query
          required: true
          schema:
            type: string
            description: api version
            example: 2025-04-01-preview
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - file
              properties:
                file:
                  type: string
                  description: The audio file object to transcribe.
                  format: binary
                prompt:
                  type: string
                  description: An optional text to guide the model's style or continue a previous audio segment. The prompt should match the audio language.
                response_format:
                  $ref: '#/components/schemas/audioResponseFormat'
                temperature:
                  type: number
                  description: 'The sampling temperature, between 0 and 1. Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic. If set to 0, the model will use log probability to automatically increase the temperature until certain thresholds are hit.'
                  default: 0
                language:
                  type: string
                  description: The language of the input audio. Supplying the input language in ISO-639-1 format will improve accuracy and latency.
                'timestamp_granularities[]':
                  type: array
                  description: 'The timestamp granularities to populate for this transcription. `response_format` must be set `verbose_json` to use timestamp granularities. Either or both of these options are supported: `word`, or `segment`. Note: There is no additional latency for segment timestamps, but generating word timestamps incurs additional latency.'
                  default: "[\n  \"segment\"\n]"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/audioResponse'
                  - $ref: '#/components/schemas/audioVerboseResponse'
              example:
                text: string
            text/plain:
              schema:
                type: string
                description: 'Transcribed text in the output format (when response_format was one of text, vtt or srt).'
              examples:
                default:
                  value: 
  '/deployments/{deployment-id}/audio/translations':
    post:
      summary: Transcribes and translates input audio into English text.
      description: Transcribes and translates input audio into English text.
      operationId: Translations_Create
      parameters:
        - name: deployment-id
          in: path
          required: true
          schema:
            type: string
            description: Deployment id of the whisper model which was deployed.
            example: whisper
        - name: api-version
          in: query
          required: true
          schema:
            type: string
            description: api version
            example: 2025-04-01-preview
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - file
              properties:
                file:
                  type: string
                  description: The audio file to translate.
                  format: binary
                prompt:
                  type: string
                  description: An optional text to guide the model's style or continue a previous audio segment. The prompt should be in English.
                response_format:
                  $ref: '#/components/schemas/audioResponseFormat'
                temperature:
                  type: number
                  description: 'The sampling temperature, between 0 and 1. Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic. If set to 0, the model will use log probability to automatically increase the temperature until certain thresholds are hit.'
                  default: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/audioResponse'
                  - $ref: '#/components/schemas/audioVerboseResponse'
              example:
                text: string
            text/plain:
              schema:
                type: string
                description: 'Transcribed text in the output format (when response_format was one of text, vtt or srt).'
              examples:
                default:
                  value: 
  '/deployments/{deployment-id}/audio/speech':
    post:
      summary: Generates audio from the input text.
      description: Generates audio from the input text.
      operationId: Speech_Create
      parameters:
        - name: deployment-id
          in: path
          required: true
          schema:
            type: string
            description: Deployment id of the tts model which was deployed.
            example: tts-1
        - name: api-version
          in: query
          required: true
          schema:
            type: string
            description: api version
            example: 2025-04-01-preview
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - input
                - voice
              properties:
                input:
                  type: string
                  description: The text to synthesize audio for. The maximum length is 4096 characters.
                voice:
                  enum:
                    - alloy
                    - echo
                    - fable
                    - onyx
                    - nova
                    - shimmer
                  type: string
                  description: The voice to use for speech synthesis.
                response_format:
                  enum:
                    - mp3
                    - opus
                    - aac
                    - flac
                    - wav
                    - pcm
                  type: string
                  description: The format to synthesize the audio in.
                speed:
                  type: number
                  description: The speed of the synthesize audio. Select a value from `0.25` to `4.0`. `1.0` is the default.
                  default: 1
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
              examples:
                default:
                  value: 
  '/deployments/{deployment-id}/images/generations':
    post:
      summary: Generates a batch of images from a text caption on a given DALLE or gpt-image-1 model deployment
      description: Generates a batch of images from a text caption on a given DALLE or gpt-image-1 model deployment
      operationId: ImageGenerations_Create
      parameters:
        - name: deployment-id
          in: path
          required: true
          schema:
            type: string
            description: Deployment id of the gpt-image-1 model which was deployed.
            example: gpt-image-1-deployment
        - name: api-version
          in: query
          required: true
          schema:
            type: string
            description: api version
            example: 2025-04-01-preview
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/imageGenerationsRequest'
            example:
              prompt: a corgi in a field
              background: auto
              n: 1
              output_compression: 100
              output_format: png
              quality: auto
              response_format: url
              size: auto
              style: vivid
              user: user123456
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generateImagesResponse'
              example:
                created: '1676540381'
                data:
                  - url: https://www.contoso.com
                    b64_json: string
                    content_filter_results:
                      sexual:
                        filtered: true
                        severity: safe
                      violence:
                        filtered: true
                        severity: safe
                      hate:
                        filtered: true
                        severity: safe
                      self_harm:
                        filtered: true
                        severity: safe
                    revised_prompt: string
                    prompt_filter_results:
                      sexual:
                        filtered: true
                        severity: safe
                      violence:
                        filtered: true
                        severity: safe
                      hate:
                        filtered: true
                        severity: safe
                      self_harm:
                        filtered: true
                        severity: safe
                      profanity:
                        filtered: true
                        detected: true
                      jailbreak:
                        filtered: true
                        detected: true
                      custom_blocklists:
                        filtered: true
                        details:
                          - filtered: true
                            id: string
                usage:
                  total_tokens: 100
                  input_tokens: 50
                  output_tokens: 50
                  input_tokens_details:
                    text_tokens: 10
                    image_tokens: 40
        '400':
          description: An error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dalleErrorResponse'
              example:
                error:
                  param: string
                  type: string
                  inner_error:
                    code: ResponsibleAIPolicyViolation
                    content_filter_results:
                      sexual:
                        filtered: true
                        severity: safe
                      violence:
                        filtered: true
                        severity: safe
                      hate:
                        filtered: true
                        severity: safe
                      self_harm:
                        filtered: true
                        severity: safe
                      profanity:
                        filtered: true
                        detected: true
                      jailbreak:
                        filtered: true
                        detected: true
                      custom_blocklists:
                        filtered: true
                        details:
                          - filtered: true
                            id: string
                    revised_prompt: string
                  code: string
                  message: string
        '500':
          description: An error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dalleErrorResponse'
              example:
                error:
                  param: string
                  type: string
                  inner_error:
                    code: ResponsibleAIPolicyViolation
                    content_filter_results:
                      sexual:
                        filtered: true
                        severity: safe
                      violence:
                        filtered: true
                        severity: safe
                      hate:
                        filtered: true
                        severity: safe
                      self_harm:
                        filtered: true
                        severity: safe
                      profanity:
                        filtered: true
                        detected: true
                      jailbreak:
                        filtered: true
                        detected: true
                      custom_blocklists:
                        filtered: true
                        details:
                          - filtered: true
                            id: string
                    revised_prompt: string
                  code: string
                  message: string
  '/deployments/{deployment-id}/images/edits':
    post:
      summary: Edits an image from a text caption on a given gpt-image-1 model deployment
      description: Edits an image from a text caption on a given gpt-image-1 model deployment
      operationId: ImageGenerations_Edit
      parameters:
        - name: deployment-id
          in: path
          required: true
          schema:
            type: string
            description: Deployment id of the gpt-image-1 model which was deployed.
            example: gpt-image-1-deployment
        - name: api-version
          in: query
          required: true
          schema:
            type: string
            description: api version
            example: 2025-04-01-preview
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/imageEditsRequest'
            example:
              image: { }
              prompt: a corgi in a field
              mask: string
              n: 1
              quality: auto
              response_format: url
              size: auto
              user: user123456
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/generateImagesResponse'
              example:
                created: '1676540381'
                data:
                  - url: https://www.contoso.com
                    b64_json: string
                    content_filter_results:
                      sexual:
                        filtered: true
                        severity: safe
                      violence:
                        filtered: true
                        severity: safe
                      hate:
                        filtered: true
                        severity: safe
                      self_harm:
                        filtered: true
                        severity: safe
                    revised_prompt: string
                    prompt_filter_results:
                      sexual:
                        filtered: true
                        severity: safe
                      violence:
                        filtered: true
                        severity: safe
                      hate:
                        filtered: true
                        severity: safe
                      self_harm:
                        filtered: true
                        severity: safe
                      profanity:
                        filtered: true
                        detected: true
                      jailbreak:
                        filtered: true
                        detected: true
                      custom_blocklists:
                        filtered: true
                        details:
                          - filtered: true
                            id: string
                usage:
                  total_tokens: 100
                  input_tokens: 50
                  output_tokens: 50
                  input_tokens_details:
                    text_tokens: 10
                    image_tokens: 40
        '400':
          description: An error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dalleErrorResponse'
              example:
                error:
                  param: string
                  type: string
                  inner_error:
                    code: ResponsibleAIPolicyViolation
                    content_filter_results:
                      sexual:
                        filtered: true
                        severity: safe
                      violence:
                        filtered: true
                        severity: safe
                      hate:
                        filtered: true
                        severity: safe
                      self_harm:
                        filtered: true
                        severity: safe
                      profanity:
                        filtered: true
                        detected: true
                      jailbreak:
                        filtered: true
                        detected: true
                      custom_blocklists:
                        filtered: true
                        details:
                          - filtered: true
                            id: string
                    revised_prompt: string
                  code: string
                  message: string
        '500':
          description: An error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dalleErrorResponse'
              example:
                error:
                  param: string
                  type: string
                  inner_error:
                    code: ResponsibleAIPolicyViolation
                    content_filter_results:
                      sexual:
                        filtered: true
                        severity: safe
                      violence:
                        filtered: true
                        severity: safe
                      hate:
                        filtered: true
                        severity: safe
                      self_harm:
                        filtered: true
                        severity: safe
                      profanity:
                        filtered: true
                        detected: true
                      jailbreak:
                        filtered: true
                        detected: true
                      custom_blocklists:
                        filtered: true
                        details:
                          - filtered: true
                            id: string
                    revised_prompt: string
                  code: string
                  message: string
  /assistants:
    get:
      tags:
        - Assistants
      summary: Returns a list of assistants.
      description: Returns a list of assistants.
      operationId: List_Assistants
      parameters:
        - name: api-version
          in: query
          required: true
          schema:
            type: string
            description: api version
            example: 2025-04-01-preview
        - name: limit
          in: query
          description: "A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.\n"
          schema:
            type: integer
            default: 20
        - name: order
          in: query
          description: "Sort order by the `created_at` timestamp of the objects. `asc` for ascending order and `desc` for descending order.\n"
          schema:
            enum:
              - asc
              - desc
            type: string
            default: desc
            x-ms-enum:
              name: ListAssistantsOrder
              modelAsString: true
              values:
                - value: asc
                  description: Order results in ascending order
                - value: desc
                  description: Order results in descending order
        - name: after
          in: query
          description: "A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list.\n"
          schema:
            type: string
        - name: before
          in: query
          description: "A cursor for use in pagination. `before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with obj_foo, your subsequent call can include before=obj_foo in order to fetch the previous page of the list.\n"
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAssistantsResponse'
              example:
                object: list
                data:
                  - id: string
                    object: assistant
                    created_at: 0
                    name: string
                    description: string
                    model: string
                    instructions: string
                    tools:
                      - type: code_interpreter
                    tool_resources:
                      code_interpreter:
                        file_ids:
                          - string
                      file_search:
                        vector_store_ids:
                          - string
                    metadata: { }
                    temperature: 1
                    top_p: 1
                    response_format: { }
                first_id: string
                last_id: string
                has_more: false
    post:
      tags:
        - Assistants
      summary: Create an assistant with a model and instructions.
      description: Create an assistant with a model and instructions.
      operationId: Create_Assistant
      parameters:
        - name: api-version
          in: query
          required: true
          schema:
            type: string
            description: api version
            example: 2025-04-01-preview
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAssistantRequest'
            example:
              model: { }
              name: string
              description: string
              instructions: string
              tools:
                - type: code_interpreter
              tool_resources:
                code_interpreter:
                  file_ids:
                    - string
                file_search:
                  vector_store_ids:
                    - string
                  vector_stores:
                    - file_ids:
                        - string
                      chunking_strategy:
                        type: auto
                      metadata: { }
              metadata: { }
              temperature: 1
              top_p: 1
              response_format: { }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assistantObject'
              example:
                id: string
                object: assistant
                created_at: 0
                name: string
                description: string
                model: string
                instructions: string
                tools:
                  - type: code_interpreter
                tool_resources:
                  code_interpreter:
                    file_ids:
                      - string
                  file_search:
                    vector_store_ids:
                      - string
                metadata: { }
                temperature: 1
                top_p: 1
                response_format: { }
  '/assistants/{assistant_id}':
    get:
      tags:
        - Assistants
      summary: Retrieves an assistant.
      description: Retrieves an assistant.
      operationId: Get_Assistant
      parameters:
        - name: assistant_id
          in: path
          description: The ID of the assistant to retrieve.
          required: true
          schema:
            type: string
        - name: api-version
          in: query
          required: true
          schema:
            type: string
            description: api version
            example: 2025-04-01-preview
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assistantObject'
              example:
                id: string
                object: assistant
                created_at: 0
                name: string
                description: string
                model: string
                instructions: string
                tools:
                  - type: code_interpreter
                tool_resources:
                  code_interpreter:
                    file_ids:
                      - string
                  file_search:
                    vector_store_ids:
                      - string
                metadata: { }
                temperature: 1
                top_p: 1
                response_format: { }
    post:
      tags:
        - Assistant
      summary: Modifies an assistant.
      description: Modifies an assistant.
      operationId: Modify_Assistant
      parameters:
        - name: assistant_id
          in: path
          description: The ID of the assistant to modify.
          required: true
          schema:
            type: string
        - name: api-version
          in: query
          required: true
          schema:
            type: string
            description: api version
            example: 2025-04-01-preview
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/modifyAssistantRequest'
            example:
              model: { }
              name: string
              description: string
              instructions: string
              tools:
                - type: code_interpreter
              tool_resources:
                code_interpreter:
                  file_ids:
                    - string
                file_search:
                  vector_store_ids:
                    - string
              metadata: { }
              temperature: 1
              top_p: 1
              response_format: { }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assistantObject'
              example:
                id: string
                object: assistant
                created_at: 0
                name: string
                description: string
                model: string
                instructions: string
                tools:
                  - type: code_interpreter
                tool_resources:
                  code_interpreter:
                    file_ids:
                      - string
                  file_search:
                    vector_store_ids:
                      - string
                metadata: { }
                temperature: 1
                top_p: 1
                response_format: { }
    delete:
      tags:
        - Assistants
      summary: Delete an assistant.
      description: Delete an assistant.
      operationId: Delete_Assistant
      parameters:
        - name: assistant_id
          in: path
          description: The ID of the assistant to delete.
          required: true
          schema:
            type: string
        - name: api-version
          in: query
          required: true
          schema:
            type: string
            description: api version
            example: 2025-04-01-preview
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAssistantResponse'
              example:
                id: string
                deleted: true
                object: assistant.deleted
  /threads:
    post:
      tags:
        - Assistants
      summary: Create a thread.
      description: Create a thread.
      operationId: Create_Thread
      parameters:
        - name: api-version
          in: query
          required: true
          schema:
            type: string
            description: api version
            example: 2025-04-01-preview
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createThreadRequest'
            example:
              messages:
                - role: user
                  content: string
                  attachments:
                    - file_id: string
                      tools:
                        - type: code_interpreter
                  metadata: { }
              tool_resources:
                code_interpreter:
                  file_ids:
                    - string
                file_search:
                  vector_store_ids:
                    - string
                  vector_stores:
                    - file_ids:
                        - string
                      chunking_strategy:
                        type: auto
                      metadata: { }
              metadata: { }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/threadObject'
              example:
                id: string
                object: thread
                created_at: 0
                tool_resources:
                  code_interpreter:
                    file_ids:
                      - string
                  file_search:
                    vector_store_ids:
                      - string
                metadata: { }
  '/threads/{thread_id}':
    get:
      tags:
        - Assistants
      summary: Retrieves a thread.
      description: Retrieves a thread.
      operationId: Get_Thread
      parameters:
        - name: thread_id
          in: path
          description: The ID of the thread to retrieve.
          required: true
          schema:
            type: string
        - name: api-version
          in: query
          required: true
          schema:
            type: string
            description: api version
            example: 2025-04-01-preview
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/threadObject'
              example:
                id: string
                object: thread
                created_at: 0
                tool_resources:
                  code_interpreter:
                    file_ids:
                      - string
                  file_search:
                    vector_store_ids:
                      - string
                metadata: { }
    post:
      tags:
        - Assistants
      summary: Modifies a thread.
      description: Modifies a thread.
      operationId: Modify_Thread
      parameters:
        - name: thread_id
          in: path
          description: The ID of the thread to modify. Only the `metadata` can be modified.
          required: true
          schema:
            type: string
        - name: api-version
          in: query
          required: true
          schema:
            type: string
            description: api version
            example: 2025-04-01-preview
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/modifyThreadRequest'
            example:
              tool_resources:
                code_interpreter:
                  file_ids:
                    - string
                file_search:
                  vector_store_ids:
                    - string
              metadata: { }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/threadObject'
              example:
                id: string
                object: thread
                created_at: 0
                tool_resources:
                  code_interpreter:
                    file_ids:
                      - string
                  file_search:
                    vector_store_ids:
                      - string
                metadata: { }
    delete:
      tags:
        - Assistants
      summary: Delete a thread.
      description: Delete a thread.
      operationId: Delete_Thread
      parameters:
        - name: thread_id
          in: path
          description: The ID of the thread to delete.
          required: true
          schema:
            type: string
        - name: api-version
          in: query
          required: true
          schema:
            type: string
            description: api version
            example: 2025-04-01-preview
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteThreadResponse'
              example:
                id: string
                deleted: true
                object: thread.deleted
  '/threads/{thread_id}/messages':
    get:
      tags:
        - Assistants
      summary: Returns a list of messages for a given thread.
      description: Returns a list of messages for a given thread.
      operationId: List_Messages
      parameters:
        - name: thread_id
          in: path
          description: 'The ID of the [thread](/docs/api-reference/threads) the messages belong to.'
          required: true
          schema:
            type: string
        - name: api-version
          in: query
          required: true
          schema:
            type: string
            description: api version
            example: 2025-04-01-preview
        - name: limit
          in: query
          description: "A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.\n"
          schema:
            type: integer
            default: 20
        - name: order
          in: query
          description: "Sort order by the `created_at` timestamp of the objects. `asc` for ascending order and `desc` for descending order.\n"
          schema:
            enum:
              - asc
              - desc
            type: string
            default: desc
            x-ms-enum:
              name: ListMessagesOrder
              modelAsString: true
              values:
                - value: asc
                  description: Order results in ascending order
                - value: desc
                  description: Order results in descending order
        - name: after
          in: query
          description: "A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list.\n"
          schema:
            type: string
        - name: before
          in: query
          description: "A cursor for use in pagination. `before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with obj_foo, your subsequent call can include before=obj_foo in order to fetch the previous page of the list.\n"
          schema:
            type: string
        - name: run_id
          in: query
          description: "Filter messages by the run ID that generated them.\n"
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listMessagesResponse'
              example:
                object: list
                data:
                  - id: string
                    object: thread.message
                    created_at: 0
                    thread_id: string
                    status: in_progress
                    incomplete_details:
                      reason: content_filter
                    completed_at: 0
                    incomplete_at: 0
                    role: user
                    content:
                      - type: image_file
                        image_file:
                          file_id: string
                    assistant_id: string
                    run_id: string
                    attachments:
                      - file_id: string
                        tools:
                          - type: code_interpreter
                    metadata: { }
                first_id: string
                last_id: string
                has_more: false
    post:
      tags:
        - Assistants
      summary: Create a message.
      description: Create a message.
      operationId: Create_Message
      parameters:
        - name: thread_id
          in: path
          description: 'The ID of the [thread](/docs/api-reference/threads) to create a message for.'
          required: true
          schema:
            type: string
        - name: api-version
          in: query
          required: true
          schema:
            type: string
            description: api version
            example: 2025-04-01-preview
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createMessageRequest'
            example:
              role: user
              content: string
              attachments:
                - file_id: string
                  tools:
                    - type: code_interpreter
              metadata: { }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messageObject'
              example:
                id: string
                object: thread.message
                created_at: 0
                thread_id: string
                status: in_progress
                incomplete_details:
                  reason: content_filter
                completed_at: 0
                incomplete_at: 0
                role: user
                content:
                  - type: image_file
                    image_file:
                      file_id: string
                assistant_id: string
                run_id: string
                attachments:
                  - file_id: string
                    tools:
                      - type: code_interpreter
                metadata: { }
  '/threads/{thread_id}/messages/{message_id}':
    get:
      tags:
        - Assistants
      summary: Retrieve a message.
      description: Retrieve a message.
      operationId: Get_Message
      parameters:
        - name: thread_id
          in: path
          description: 'The ID of the [thread](/docs/api-reference/threads) to which this message belongs.'
          required: true
          schema:
            type: string
        - name: message_id
          in: path
          description: The ID of the message to retrieve.
          required: true
          schema:
            type: string
        - name: api-version
          in: query
          required: true
          schema:
            type: string
            description: api version
            example: 2025-04-01-preview
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messageObject'
              example:
                id: string
                object: thread.message
                created_at: 0
                thread_id: string
                status: in_progress
                incomplete_details:
                  reason: content_filter
                completed_at: 0
                incomplete_at: 0
                role: user
                content:
                  - type: image_file
                    image_file:
                      file_id: string
                assistant_id: string
                run_id: string
                attachments:
                  - file_id: string
                    tools:
                      - type: code_interpreter
                metadata: { }
    post:
      tags:
        - Assistants
      summary: Modifies a message.
      description: Modifies a message.
      operationId: Modify_Message
      parameters:
        - name: thread_id
          in: path
          description: The ID of the thread to which this message belongs.
          required: true
          schema:
            type: string
        - name: message_id
          in: path
          description: The ID of the message to modify.
          required: true
          schema:
            type: string
        - name: api-version
          in: query
          required: true
          schema:
            type: string
            description: api version
            example: 2025-04-01-preview
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/modifyMessageRequest'
            example:
              metadata: { }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messageObject'
              example:
                id: string
                object: thread.message
                created_at: 0
                thread_id: string
                status: in_progress
                incomplete_details:
                  reason: content_filter
                completed_at: 0
                incomplete_at: 0
                role: user
                content:
                  - type: image_file
                    image_file:
                      file_id: string
                assistant_id: string
                run_id: string
                attachments:
                  - file_id: string
                    tools:
                      - type: code_interpreter
                metadata: { }
  /threads/runs:
    post:
      tags:
        - Assistants
      summary: Create a thread and run it in one request.
      description: Create a thread and run it in one request.
      operationId: Create_Thread_And_Run
      parameters:
        - name: api-version
          in: query
          required: true
          schema:
            type: string
            description: api version
            example: 2025-04-01-preview
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createThreadAndRunRequest'
            example:
              assistant_id: string
              thread:
                messages:
                  - role: user
                    content: string
                    attachments:
                      - file_id: string
                        tools:
                          - type: code_interpreter
                    metadata: { }
                tool_resources:
                  code_interpreter:
                    file_ids:
                      - string
                  file_search:
                    vector_store_ids:
                      - string
                    vector_stores:
                      - file_ids:
                          - string
                        chunking_strategy:
                          type: auto
                        metadata: { }
                metadata: { }
              model: string
              instructions: string
              tools:
                - type: code_interpreter
              tool_resources:
                code_interpreter:
                  file_ids:
                    - string
                file_search:
                  vector_store_ids:
                    - string
              metadata: { }
              temperature: 1
              top_p: 1
              stream: true
              stream_options: 
              max_prompt_tokens: 0
              max_completion_tokens: 0
              truncation_strategy:
                type: auto
                last_messages: 0
              tool_choice: { }
              parallel_tool_calls: true
              response_format: { }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runObject'
              example:
                id: string
                object: thread.run
                created_at: 0
                thread_id: string
                assistant_id: string
                status: queued
                required_action:
                  type: submit_tool_outputs
                  submit_tool_outputs:
                    tool_calls:
                      - id: string
                        type: function
                        function:
                          name: string
                          arguments: string
                last_error:
                  code: server_error
                  message: string
                expires_at: 0
                started_at: 0
                cancelled_at: 0
                failed_at: 0
                completed_at: 0
                incomplete_details:
                  reason: max_completion_tokens
                model: string
                instructions: string
                tools:
                  - type: code_interpreter
                metadata: { }
                usage:
                  completion_tokens: 0
                  prompt_tokens: 0
                  total_tokens: 0
                temperature: 0
                top_p: 0
                max_prompt_tokens: 0
                max_completion_tokens: 0
                truncation_strategy:
                  type: auto
                  last_messages: 0
                tool_choice: { }
                parallel_tool_calls: true
                response_format: { }
  '/threads/{thread_id}/runs':
    get:
      tags:
        - Assistants
      summary: Returns a list of runs belonging to a thread.
      description: Returns a list of runs belonging to a thread.
      operationId: List_Runs
      parameters:
        - name: thread_id
          in: path
          description: The ID of the thread the run belongs to.
          required: true
          schema:
            type: string
        - name: api-version
          in: query
          required: true
          schema:
            type: string
            description: api version
            example: 2025-04-01-preview
        - name: limit
          in: query
          description: "A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.\n"
          schema:
            type: integer
            default: 20
        - name: order
          in: query
          description: "Sort order by the `created_at` timestamp of the objects. `asc` for ascending order and `desc` for descending order.\n"
          schema:
            enum:
              - asc
              - desc
            type: string
            default: desc
            x-ms-enum:
              name: ListRunsOrder
              modelAsString: true
              values:
                - value: asc
                  description: Order results in ascending order
                - value: desc
                  description: Order results in descending order
        - name: after
          in: query
          description: "A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list.\n"
          schema:
            type: string
        - name: before
          in: query
          description: "A cursor for use in pagination. `before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with obj_foo, your subsequent call can include before=obj_foo in order to fetch the previous page of the list.\n"
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listRunsResponse'
              example:
                object: list
                data:
                  - id: string
                    object: thread.run
                    created_at: 0
                    thread_id: string
                    assistant_id: string
                    status: queued
                    required_action:
                      type: submit_tool_outputs
                      submit_tool_outputs:
                        tool_calls:
                          - id: string
                            type: function
                            function:
                              name: string
                              arguments: string
                    last_error:
                      code: server_error
                      message: string
                    expires_at: 0
                    started_at: 0
                    cancelled_at: 0
                    failed_at: 0
                    completed_at: 0
                    incomplete_details:
                      reason: max_completion_tokens
                    model: string
                    instructions: string
                    tools:
                      - type: code_interpreter
                    metadata: { }
                    usage:
                      completion_tokens: 0
                      prompt_tokens: 0
                      total_tokens: 0
                    temperature: 0
                    top_p: 0
                    max_prompt_tokens: 0
                    max_completion_tokens: 0
                    truncation_strategy:
                      type: auto
                      last_messages: 0
                    tool_choice: { }
                    parallel_tool_calls: true
                    response_format: { }
                first_id: string
                last_id: string
                has_more: false
    post:
      tags:
        - Assistants
      summary: Create a run.
      description: Create a run.
      operationId: Create_Run
      parameters:
        - name: thread_id
          in: path
          description: The ID of the thread to run.
          required: true
          schema:
            type: string
        - name: api-version
          in: query
          required: true
          schema:
            type: string
            description: api version
            example: 2025-04-01-preview
        - name: 'include[]'
          in: query
          description: 'A list of additional fields to include in the response. Currently the only supported value is `step_details.tool_calls[*].file_search.results[*].content` to fetch the file search result content.'
          schema:
            type: array
            items:
              enum:
                - 'step_details.tool_calls[*].file_search.results[*].content'
              type: string
              x-ms-enum:
                name: Include
                modelAsString: true
                values:
                  - value: 'step_details.tool_calls[*].file_search.results[*].content'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createRunRequest'
            example:
              assistant_id: string
              model: string
              instructions: string
              additional_instructions: string
              additional_messages:
                - role: user
                  content: string
                  attachments:
                    - file_id: string
                      tools:
                        - type: code_interpreter
                  metadata: { }
              tools:
                - type: code_interpreter
              metadata: { }
              temperature: 1
              top_p: 1
              stream: true
              max_prompt_tokens: 0
              max_completion_tokens: 0
              truncation_strategy:
                type: auto
                last_messages: 0
              tool_choice: { }
              parallel_tool_calls: true
              response_format: { }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runObject'
              example:
                id: string
                object: thread.run
                created_at: 0
                thread_id: string
                assistant_id: string
                status: queued
                required_action:
                  type: submit_tool_outputs
                  submit_tool_outputs:
                    tool_calls:
                      - id: string
                        type: function
                        function:
                          name: string
                          arguments: string
                last_error:
                  code: server_error
                  message: string
                expires_at: 0
                started_at: 0
                cancelled_at: 0
                failed_at: 0
                completed_at: 0
                incomplete_details:
                  reason: max_completion_tokens
                model: string
                instructions: string
                tools:
                  - type: code_interpreter
                metadata: { }
                usage:
                  completion_tokens: 0
                  prompt_tokens: 0
                  total_tokens: 0
                temperature: 0
                top_p: 0
                max_prompt_tokens: 0
                max_completion_tokens: 0
                truncation_strategy:
                  type: auto
                  last_messages: 0
                tool_choice: { }
                parallel_tool_calls: true
                response_format: { }
  '/threads/{thread_id}/runs/{run_id}':
    get:
      tags:
        - Assistants
      summary: Retrieves a run.
      description: Retrieves a run.
      operationId: Get_Run
      parameters:
        - name: thread_id
          in: path
          description: 'The ID of the [thread](/docs/api-reference/threads) that was run.'
          required: true
          schema:
            type: string
        - name: run_id
          in: path
          description: The ID of the run to retrieve.
          required: true
          schema:
            type: string
        - name: api-version
          in: query
          required: true
          schema:
            type: string
            description: api version
            example: 2025-04-01-preview
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runObject'
              example:
                id: string
                object: thread.run
                created_at: 0
                thread_id: string
                assistant_id: string
                status: queued
                required_action:
                  type: submit_tool_outputs
                  submit_tool_outputs:
                    tool_calls:
                      - id: string
                        type: function
                        function:
                          name: string
                          arguments: string
                last_error:
                  code: server_error
                  message: string
                expires_at: 0
                started_at: 0
                cancelled_at: 0
                failed_at: 0
                completed_at: 0
                incomplete_details:
                  reason: max_completion_tokens
                model: string
                instructions: string
                tools:
                  - type: code_interpreter
                metadata: { }
                usage:
                  completion_tokens: 0
                  prompt_tokens: 0
                  total_tokens: 0
                temperature: 0
                top_p: 0
                max_prompt_tokens: 0
                max_completion_tokens: 0
                truncation_strategy:
                  type: auto
                  last_messages: 0
                tool_choice: { }
                parallel_tool_calls: true
                response_format: { }
    post:
      tags:
        - Assistants
      summary: Modifies a run.
      description: Modifies a run.
      operationId: Modify_Run
      parameters:
        - name: thread_id
          in: path
          description: 'The ID of the [thread](/docs/api-reference/threads) that was run.'
          required: true
          schema:
            type: string
        - name: run_id
          in: path
          description: The ID of the run to modify.
          required: true
          schema:
            type: string
        - name: api-version
          in: query
          required: true
          schema:
            type: string
            description: api version
            example: 2025-04-01-preview
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/modifyRunRequest'
            example:
              metadata: { }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runObject'
              example:
                id: string
                object: thread.run
                created_at: 0
                thread_id: string
                assistant_id: string
                status: queued
                required_action:
                  type: submit_tool_outputs
                  submit_tool_outputs:
                    tool_calls:
                      - id: string
                        type: function
                        function:
                          name: string
                          arguments: string
                last_error:
                  code: server_error
                  message: string
                expires_at: 0
                started_at: 0
                cancelled_at: 0
                failed_at: 0
                completed_at: 0
                incomplete_details:
                  reason: max_completion_tokens
                model: string
                instructions: string
                tools:
                  - type: code_interpreter
                metadata: { }
                usage:
                  completion_tokens: 0
                  prompt_tokens: 0
                  total_tokens: 0
                temperature: 0
                top_p: 0
                max_prompt_tokens: 0
                max_completion_tokens: 0
                truncation_strategy:
                  type: auto
                  last_messages: 0
                tool_choice: { }
                parallel_tool_calls: true
                response_format: { }
  '/threads/{thread_id}/runs/{run_id}/submit_tool_outputs':
    post:
      tags:
        - Assistants
      summary: "When a run has the `status: \"requires_action\"` and `required_action.type` is `submit_tool_outputs`, this endpoint can be used to submit the outputs from the tool calls once they're all completed. All outputs must be submitted in a single request.\n"
      description: "When a run has the `status: \"requires_action\"` and `required_action.type` is `submit_tool_outputs`, this endpoint can be used to submit the outputs from the tool calls once they're all completed. All outputs must be submitted in a single request.\n"
      operationId: Submit_Tool_Outputs_To_Run
      parameters:
        - name: thread_id
          in: path
          description: 'The ID of the [thread](/docs/api-reference/threads) to which this run belongs.'
          required: true
          schema:
            type: string
        - name: run_id
          in: path
          description: The ID of the run that requires the tool output submission.
          required: true
          schema:
            type: string
        - name: api-version
          in: query
          required: true
          schema:
            type: string
            description: api version
            example: 2025-04-01-preview
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submitToolOutputsRunRequest'
            example:
              tool_outputs:
                - tool_call_id: string
                  output: string
              stream: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runObject'
              example:
                id: string
                object: thread.run
                created_at: 0
                thread_id: string
                assistant_id: string
                status: queued
                required_action:
                  type: submit_tool_outputs
                  submit_tool_outputs:
                    tool_calls:
                      - id: string
                        type: function
                        function:
                          name: string
                          arguments: string
                last_error:
                  code: server_error
                  message: string
                expires_at: 0
                started_at: 0
                cancelled_at: 0
                failed_at: 0
                completed_at: 0
                incomplete_details:
                  reason: max_completion_tokens
                model: string
                instructions: string
                tools:
                  - type: code_interpreter
                metadata: { }
                usage:
                  completion_tokens: 0
                  prompt_tokens: 0
                  total_tokens: 0
                temperature: 0
                top_p: 0
                max_prompt_tokens: 0
                max_completion_tokens: 0
                truncation_strategy:
                  type: auto
                  last_messages: 0
                tool_choice: { }
                parallel_tool_calls: true
                response_format: { }
  '/threads/{thread_id}/runs/{run_id}/cancel':
    post:
      tags:
        - Assistants
      summary: Cancels a run that is `in_progress`.
      description: Cancels a run that is `in_progress`.
      operationId: Cancel_Run
      parameters:
        - name: thread_id
          in: path
          description: The ID of the thread to which this run belongs.
          required: true
          schema:
            type: string
        - name: run_id
          in: path
          description: The ID of the run to cancel.
          required: true
          schema:
            type: string
        - name: api-version
          in: query
          required: true
          schema:
            type: string
            description: api version
            example: 2025-04-01-preview
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runObject'
              example:
                id: string
                object: thread.run
                created_at: 0
                thread_id: string
                assistant_id: string
                status: queued
                required_action:
                  type: submit_tool_outputs
                  submit_tool_outputs:
                    tool_calls:
                      - id: string
                        type: function
                        function:
                          name: string
                          arguments: string
                last_error:
                  code: server_error
                  message: string
                expires_at: 0
                started_at: 0
                cancelled_at: 0
                failed_at: 0
                completed_at: 0
                incomplete_details:
                  reason: max_completion_tokens
                model: string
                instructions: string
                tools:
                  - type: code_interpreter
                metadata: { }
                usage:
                  completion_tokens: 0
                  prompt_tokens: 0
                  total_tokens: 0
                temperature: 0
                top_p: 0
                max_prompt_tokens: 0
                max_completion_tokens: 0
                truncation_strategy:
                  type: auto
                  last_messages: 0
                tool_choice: { }
                parallel_tool_calls: true
                response_format: { }
  '/threads/{thread_id}/runs/{run_id}/steps':
    get:
      tags:
        - Assistants
      summary: Returns a list of run steps belonging to a run.
      description: Returns a list of run steps belonging to a run.
      operationId: List_Run_Steps
      parameters:
        - name: thread_id
          in: path
          description: The ID of the thread the run and run steps belong to.
          required: true
          schema:
            type: string
        - name: run_id
          in: path
          description: The ID of the run the run steps belong to.
          required: true
          schema:
            type: string
        - name: api-version
          in: query
          required: true
          schema:
            type: string
            description: api version
            example: 2025-04-01-preview
        - name: limit
          in: query
          description: "A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.\n"
          schema:
            type: integer
            default: 20
        - name: order
          in: query
          description: "Sort order by the `created_at` timestamp of the objects. `asc` for ascending order and `desc` for descending order.\n"
          schema:
            enum:
              - asc
              - desc
            type: string
            default: desc
            x-ms-enum:
              name: ListRunStepsOrder
              modelAsString: true
              values:
                - value: asc
                  description: Order results in ascending order
                - value: desc
                  description: Order results in descending order
        - name: after
          in: query
          description: "A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list.\n"
          schema:
            type: string
        - name: before
          in: query
          description: "A cursor for use in pagination. `before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with obj_foo, your subsequent call can include before=obj_foo in order to fetch the previous page of the list.\n"
          schema:
            type: string
        - name: 'include[]'
          in: query
          description: "A list of additional fields to include in the response. Currently the only supported value is `step_details.tool_calls[*].file_search.results[*].content` to fetch the file search result content.\n"
          schema:
            type: array
            items:
              enum:
                - 'step_details.tool_calls[*].file_search.results[*].content'
              type: string
              x-ms-enum:
                name: Include
                modelAsString: true
                values:
                  - value: 'step_details.tool_calls[*].file_search.results[*].content'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listRunStepsResponse'
              example:
                object: list
                data:
                  - id: string
                    object: assistant.run.step
                    created_at: 0
                    assistant_id: string
                    thread_id: string
                    run_id: string
                    type: message_creation
                    status: in_progress
                    step_details:
                      type: message_creation
                      message_creation:
                        message_id: string
                    last_error:
                      code: server_error
                      message: string
                    expired_at: 0
                    cancelled_at: 0
                    failed_at: 0
                    completed_at: 0
                    metadata: { }
                first_id: string
                last_id: string
                has_more: false
  '/threads/{thread_id}/runs/{run_id}/steps/{step_id}':
    get:
      tags:
        - Assistants
      summary: Retrieves a run step.
      description: Retrieves a run step.
      operationId: Get_Run_Step
      parameters:
        - name: thread_id
          in: path
          description: The ID of the thread to which the run and run step belongs.
          required: true
          schema:
            type: string
        - name: run_id
          in: path
          description: The ID of the run to which the run step belongs.
          required: true
          schema:
            type: string
        - name: step_id
          in: path
          description: The ID of the run step to retrieve.
          required: true
          schema:
            type: string
        - name: api-version
          in: query
          required: true
          schema:
            type: string
            description: api version
            example: 2025-04-01-preview
        - name: 'include[]'
          in: query
          description: "A list of additional fields to include in the response. Currently the only supported value is `step_details.tool_calls[*].file_search.results[*].content` to fetch the file search result content.\n"
          schema:
            type: array
            items:
              enum:
                - 'step_details.tool_calls[*].file_search.results[*].content'
              type: string
              x-ms-enum:
                name: Include
                modelAsString: true
                values:
                  - value: 'step_details.tool_calls[*].file_search.results[*].content'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runStepObject'
              example:
                id: string
                object: assistant.run.step
                created_at: 0
                assistant_id: string
                thread_id: string
                run_id: string
                type: message_creation
                status: in_progress
                step_details:
                  type: message_creation
                  message_creation:
                    message_id: string
                last_error:
                  code: server_error
                  message: string
                expired_at: 0
                cancelled_at: 0
                failed_at: 0
                completed_at: 0
                metadata: { }
  /vector_stores:
    get:
      tags:
        - Vector stores
      summary: Returns a list of vector stores.
      description: Returns a list of vector stores.
      operationId: List_Vector_Stores
      parameters:
        - name: api-version
          in: query
          description: api version
          required: true
          schema:
            type: string
            example: 2025-04-01-preview
        - name: limit
          in: query
          description: "A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.\n"
          schema:
            type: integer
            default: 20
        - name: order
          in: query
          description: "Sort order by the `created_at` timestamp of the objects. `asc` for ascending order and `desc` for descending order.\n"
          schema:
            enum:
              - asc
              - desc
            type: string
            default: desc
            x-ms-enum:
              name: ListVectorStoresOrder
              modelAsString: true
              values:
                - value: asc
                - value: desc
        - name: after
          in: query
          description: "A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after=obj_foo in order to fetch the next page of the list.\n"
          schema:
            type: string
        - name: before
          in: query
          description: "A cursor for use in pagination. `before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with obj_foo, your subsequent call can include before=obj_foo in order to fetch the previous page of the list.\n"
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listVectorStoresResponse'
              example:
                object: list
                data:
                  - id: string
                    object: vector_store
                    created_at: 0
                    name: string
                    usage_bytes: 0
                    file_counts:
                      in_progress: 0
                      completed: 0
                      failed: 0
                      cancelled: 0
                      total: 0
                    status: expired
                    expires_after:
                      anchor: last_active_at
                      days: 0
                    expires_at: 0
                    last_active_at: 0
                    metadata: { }
                first_id: vs_abc123
                last_id: vs_abc456
                has_more: false
    post:
      tags:
        - Vector stores
      summary: Create a vector store.
      description: Create a vector store.
      operationId: Create_Vector_Store
      parameters:
        - name: api-version
          in: query
          description: api version
          required: true
          schema:
            type: string
            example: 2025-04-01-preview
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createVectorStoreRequest'
            example:
              file_ids:
                - string
              name: string
              expires_after:
                anchor: last_active_at
                days: 0
              chunking_strategy:
                type: auto
              metadata: { }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/vectorStoreObject'
              example:
                id: string
                object: vector_store
                created_at: 0
                name: string
                usage_bytes: 0
                file_counts:
                  in_progress: 0
                  completed: 0
                  failed: 0
                  cancelled: 0
                  total: 0
                status: expired
                expires_after:
                  anchor: last_active_at
                  days: 0
                expires_at: 0
                last_active_at: 0
                metadata: { }
  '/vector_stores/{vector_store_id}':
    get:
      tags:
        - Vector stores
[...]
